<p id="notice"><%= notice %></p>

<%= link_to 'New Event', new_event_path %> 

<div style="float:right;">
  <%= form_tag({}, {:method => :get}) do %>
    <%= select_tag 'user_id', options_for_select(@users.collect{ |u| [u.name, u.id] }), :onchange => "this.form.submit();" %>
  <% end %>
</div>


<div style="padding-top: 40px;">
  <%= month_calendar do |date| %>
    <%= date %>
  <% end %>
</div>